<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div>
        <h3>Ваши резервации:</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" >
        <ul class="list-group" >
            <li class="list-group-item text-center" th:each="reservation : ${reservations}" >

                    <form method="get" th:action="@{/reservations/delete/{id}(id=${reservation.id})}">
                        <p>

                <span><b th:text="${reservation.getStartTime()}"></b>h-</span>

                            <span><b th:text="${reservation.getEndTime()}"></b>h</span>
                <span>во</span>
                <b th:text="${reservation.getRoom().getBuilding()}"></b>
                <span>(просторија <b th:text="${reservation.getRoom().getName()}"></b>)</span>
                <span>на <b th:text="${reservation.getDate()}"></b></span>

                    <button
                            onsubmit="return confirm('Сигурно сакате да ја избришете оваа резервација')"
                            class="button btn-danger " style="float: right" >Избриши резервација</button>
                        </p>
                </form>

            </li>
        </ul>
    </div>
</div>